	<div class="screenshot">
	
		<div class="container">
			<input type="text" ng-model="filter.text" />
			<ul>
				<li ng-repeat = "prod in products | filter:filter.text" ng-animate="'animate'" >
					{{prod.id}} --	{{prod.name}} -- {{prod.description}} <button ng-click="deleteProduct(prod.id)">Delete </button>
				</li>
			</ul>
		</div>
        <div class="message">{{message}}</div>
        <div class="container">
        	New Product Name: <br/>
         	<input type="text" ng-model = "newProduct.name" />
        	New Product Description:<br/>
        	<input type="textarea" ng-model = "newProduct.description" />
        	<br/>
        	<button ng-click="addProduct()">Add </button>	
        
        
        </div>

	</div>
    <div class="screenshot">
        <h1>{{experiences.project}}</h1>

        <div class="container">
            <ul>
            <li ng-repeat = "day in experiences.days">
                {{day.dayid}}
                <ul>
                    <li ng-repeat = "widget in day.daywidgets">
                    {{widget.widgetname}}
                </ul>
            </li>
            </ul>
        </div>

    </div>